.templates-container {
  /* height: 20px; */
  max-width: 1400px;
  padding: 40px;
  display: grid;
  margin: auto;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 0.5fr));
}

.template-card {
  background-color: black;
  border-radius: 2rem;
  position: relative;
  height: 300px;
}

.template-card h2 {
  position: absolute;
  color: white !important;
  top: 50%;
  left: 50%;
  color: var(--vp-c-text-1);
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 2em;
}

.canvas-card {
  cursor: pointer;
  height: 300px;
  border-radius: 2rem;
  outline: solid var(--vp-c-text-1) 1px;
  transition: outline 0.3s ease;
}

.canvas-card canvas {
  border-radius: 2rem;
}

@media (min-width: 600px) {
  .canvas-card:hover {
    outline: solid 1px var(--vp-c-brand);
    cursor: pointer;
    height: 300px;
  }
}

@media (max-width: 720px) {
  .templates-container {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .template-card h2 {
    font-weight: 900;
    font-size: 1.4em;
  }
}

.canvas-example {
  height: 300px;
}
